body {
	background-color: #EEE;
	padding: 0;
    overflow:  hidden;
}

#canvases {
    display: block;
	margin: 1em auto;
    position: relative;
	width: 1100px;
    z-index: 999;
}

#controls {
	
	display: block;
	/*border: 1px solid black;
    margin: 1em auto;*/
	position: absolute;
	background-color:#DDD;
}

#draw {
	
	display: block;
	/*
    border: 1px solid red;
    margin: 1em auto;*/
	position: absolute;
	right: 120px;
	top: 0px;
}